 <!--
 <div class="right">
       <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>
<br><br>
        <a  class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
       
        <a  class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>     
    -->