<br><br>
<p style="font-size:11px; text-align:center; opacity:0.5;" >  * By logging in, you agree to our  <a style="color:rgb(51, 187, 255); text-decoration:none; opacity:1;" href="termsofuse">Terms of Use </a>and to receive<br> QTs emails & updates and acknowledge that you read our<br><a style="color:rgb(51, 187, 255);opacity:1; text-decoration:none;" href="privacypolicy"> Privacy Policy.</a>
</p>